[Desktop Entry]
Type=Application
Version=1.0
Name=Spec Chum
GenericName=ZX Spectrum Emulator
Comment=Hardware-accurate ZX Spectrum emulator
Exec=spec_chum
Icon=spec-chum
Terminal=false
Categories=Game;Emulator;
Keywords=spectrum;zx;emulator;z80;
StartupNotify=true
